<h1>Hello world!</h1>
<%= link_to 'カーナベル', 'https://www.ka-nabell.com/?act=sell_cart&action=cart_full&b_sheets=0&c_sheets=0&card_id=100218885&category=78308&d_sheets=0&genre=1&key_word=&lang=&lessthan=&page=&past=&s_sheets=0&sa_sheets=2&supply=&than=&type=4', {method: 'post'} %>
